@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'DM Sans', sans-serif !important;
		font-feature-settings: 'kern' !important;
		-webkit-font-smoothing: antialiased;
		letter-spacing: -0.5px;
	}
}

input.defaultCheckbox::before {
	content: url(../src/assets/svg/checked.svg); 
	color: white;
	opacity: 0; 
	height: 16px; 
	width: 16px;
	position: absolute; 
	left: 50%;
	transform: translate(-50%, 0px);
} 

input:checked.defaultCheckbox::before { 
	opacity: 1;
}

.texteditor .ql-editor{
	min-height: 500px;
	padding: 40px;
	margin: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 5);
	background-color: "#1B254B";
	border-radius: 10px;
	overflow: hidden;
}

.texteditor .ql-containter.ql-snow{
	border: none;
	display: flergb(21, 19, 19);
	justify-content: center;
	border-radius: 10px;
}
.texteditor .ql-toolbar.ql-snow{
	margin: 0 8px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: sticky;
	top: 10px;
	z-index: 1;
	height: auto;
	background-color: "#1B254B";
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 5);
	border-radius: 10px;
	/* overflow: hidden; */
}
.ql-tooltip{
	width: 400px;
	padding: 20px;
	margin-left: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: sticky;
	top: 10px;
	height: auto;
	z-index: 20;
	background-color: #000;
	color: #FFF;
	text-decoration-color: #FFF;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 5);
	border-radius: 10px;
}
.ql-tooltip::before{
	display: none;
}
@media print {
  body {
    background: none;
  }

  .texteditor .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
	
  }

  .texteditor .ql-toolbar.ql-snow {
    display: none;
  }
  
}

.oneLine{
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}